[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
firebase-admin = "*"
pandas = "*"
sodapy = "*"
selenium = "*"

[requires]
python_version = "3.8"

[scripts]
get_data="python main.py"
get_testing_data="python testing.docker.py"
get_hospital_bed_vacancy_data="python hospital_bed_vacancy.docker.py"
get_icu_bed_availability_data="python icu_bed_availability.docker.py"
get_new_hospitalizations_and_deaths_data="python new_hospitalizations_and_deaths.docker.py"
get_total_hospitalizations_data="python total_hospitalizations.docker.py"
